{% extends 'page/base.html' %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class='header-bar'>
	<a href='{% url "todolist" %}'>Sign Up</a>
	</div>
<div id='card-body'>
<form method='POST'>
	{% csrf_token %}
	<label>{{form.username.label}}</label>
	{{form.username}}
	<label>{{form.password1.label}}</label>
	{{form.password1}}
	<label>{{form.password2.label}}</label>
	{{form.password2}}
	<input id='button'type='submit' value='Register'>
</form>
<p>Already have an account? <a href='{% url "login" %}'>Sign In. </a> </p>
</div>
{% endblock content %}